body{
  margin-top: 0px;
  height: 100vh;
  background-image: url("../assets/img/fondo_login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#container-login{
  background-color: rgba(255,255,255,0.5);
  padding: 30px;
  width: 65%;
  height: 70%;
  margin-top: 10%;
}
.limpiar{
  clear:both;
  margin-bottom:2%;
}
#logo-index{
  width:50vw;
  max-width: 250px;
  min-width: 50px;
}
#login:hover{
  background: transparent;
  border: 1px solid #4f544f;
  color: #4f544f;
}
@media (max-width: 450px) {
  #logo-index{
    width:20vw;
    max-width: 80px;
    min-width: 50px;
  }
  #container-login{
    height: 90vh;
  }
  body{
    height: 100%;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  body{
    height: 100%;
  }
}

@media (max-width: 1800px) and (orientation: landscape) {
  #logo-index{
    width:20vw;
    max-width: 120px;
    min-width: 50px;
  }
}
