body{
  margin-top: 0px;
  height: 100vh;
  background-image: url("../assets/img/fondo_login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#container-login{
  background-color: rgba(255,255,255,0.5);
  padding: 30px;
  width: 80%;
  height: 70vh;
  margin-top: 10%;
}
.impiar{
  clear:both;
  margin-bottom:2%; 
}
