body{
  margin-top: 0px;
  font-family: 'Dosis', sans-serif;
}

.color-green{
  background-color: #97c626;
}
.color-blue{
  background-color: #01aab6;
}
.color-gray{
  background-color: #635f5f;
}
.color-lightGray{
  background: #838783;
}
.color-google{
  background: #DB4337;
}
.color-facebook{
  background: #3B5998;
}
.text-white{
  color: #ffffff;
}
.text-green{
  color: #97c626;
}
.text-blue{
  color: #01aab6;
}
.text-gray{
  color: #4f544f;
}
.text-lightGray{
  color: #838783;
}

/*NAVBAR*/
header{
  border-bottom: 8px solid #97c626;
}
.uk-navbar-nav>li>a, .uk-navbar-dropdown-nav>li>a{
  color: white;
}
.uk-navbar-dropdown{
  background-color: #4f544f;
  min-width: 0;
}
.img-size-nav{
   width: 30%;
   height: 30%;
}
.img-size-logo{
  width: 10vh;
}
.transparent{
  background: transparent;
}
.uk-navbar-dropdown-nav>li>a:hover, .uk-offcanvas-content>a:hover{
  color: #01aab6;
  text-decoration: none;
}
#offcanvas-flip .uk-button{
  border-radius: 3px;
  border: 1px solid #97c626;
}
#offcanvas-flip .uk-button:hover{
  border-radius: 3px;
  background: transparent;
  border: 1px solid white;
}
.uk-search-input{
  border-bottom: 3px solid #97c626;
}

/*RESERVATION*/
