.color-green{
  background-color: #97c626;
}
.color-blue{
  background-color: #01aab6;
}
.color-gray{
  background-color: #4f544f;
}
.color-lightGray{
  background: #838783;
}
.color-google{
  background: #DB4337;
}
.color-facebook{
  background: #3B5998;
}
.text-white{
  color: #ffffff;
}
.text-green{
  color: #97c626;
}
.text-blue{
  color: #01aab6;
}
.text-gray{
  color: #4f544f;
}
.text-lightGray{
  color: #838783;
}
