<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/css/uikit.min.css" />
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <section class="home-container">
        <ul class="slider-container">
            <li class="item"><img src="../assets/img/mansiones-que-son-hoteles-01.jpg" alt=""></li>
            <li class="item"><img src="../assets/img/vintage-nights-noche-retro-como-en-los-anos-30.jpg" alt=""></li>
            <li class="item"><img src="../assets/img/Untitled-design-27.jpg" alt=""></li>
        </ul>

    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>

</body>
</html>