<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" sizes="16x16" href="../assets/img/favicon-16x16.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link href="../css/registro.css" rel="stylesheet">
  <title>Scapp/Registro</title>
</head>
<body class="uk-flex uk-flex-center registro-body">
  <div id="container-registro">
    <div class="uk-heading-divider uk-align-center">
      <h2 class=" uk-text-center uk-margin-remove-bottom text-gray"><b>Registro usuario</b></h2>
    </div>
  	<section class="uk-grid uk-child-width-1-2@s uk-flex-center uk-margin-large ">
      <form id="form" class="">
           <input id="name" type="text" placeholder="Nombre" class="uk-input"><br>
           <input id="email" type="email" placeholder="Correo" class="uk-input uk-margin-top"><br>
           <input id="password" type="password" placeholder="Contraseña" class="uk-input uk-margin-top">
           <input id="passConfirm"  type="password" placeholder="Confirmar contraseña" class="uk-input uk-margin-top">
           <div>
             <a href="#" id="continue"  class="uk-button color-green uk-width-1-1 uk-margin-small-bottom uk-margin-top text-white">
               Continuar
            </a>
           </div>
      </form>
  	</section>
  	<div class="limpiar"></div>
  </div>

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-messaging.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit-icons.min.js"></script>
	<script src="../js/search.js"></script>
</body>
</html>
