body{
  margin-top: 0px;
  font-family: 'Dosis', sans-serif;
}

.color-green{
  background-color: #97c626;
}
.color-blue{
  background-color: #01aab6;
}
.color-gray{
  background-color: #635f5f;
}
.color-lightGray{
  background: #d4d9d8;
}
.color-google{
  background: #DB4337;
}
.color-facebook{
  background: #3B5998;
}
.text-white{
  color: #ffffff;
}
.text-green{
  color: #97c626;
}
.text-blue{
  color: #01aab6;
}
.text-gray{
  color: #4f544f;
}
.text-lightGray{
  color: #838783;
}

/*NAVBAR*/
header{
  border-bottom: 8px solid #97c626;
}
.uk-navbar-nav>li>a, .uk-navbar-dropdown-nav>li>a{
  color: white;
}
.uk-navbar-dropdown{
  background-color: #4f544f;
  min-width: 0;
}
.img-size-nav{
   width: 6vh;
   margin-top: 50%;
}
.img-size-nav-mobile{
   width: 12vh;
}
.img-size-logo{
  width: 20vh;
}
.transparent{
  background: transparent;
}
.uk-navbar-dropdown-nav>li>a:hover, .uk-offcanvas-content>a:hover{
  color: #01aab6;
  text-decoration: none;
}
#offcanvas-flip .uk-button, #detailEvent .uk-button, .test-upload .uk-button {
  border-radius: 3px;
  border: 1px solid #97c626;
}
#detailEvent .uk-button:hover, .test-upload>.uk-button:hover{
  background: transparent;
  border: 1px solid #4f544f;
  color: #4f544f;
  cursor: pointer;
}
#offcanvas-flip .uk-button:hover{
  background: transparent;
  border: 1px solid white;
}
.uk-search-input{
  border-bottom: 3px solid #97c626;
}
#modal-search .uk-card, #tour-mostrar .uk-card{
  cursor: pointer;
}
#tour-mostrar .uk-card{
  border: 2px solid rgb(212, 211, 211);
}
.uk-comment-avatar{
  width: 80px;
  height: 80px;
}

@media (max-width: 1024px) {
  .img-size-nav{
     width: 4vh;
     margin-top: 20%;
  }
  .img-size-logo{
    width: 10vh;
  }
}
@media (max-width: 768px) {
  .img-size-nav{
     width: 4vh;
     margin-top: 40%;
  }
  .img-size-logo{
    width: 11vh;
  }
}
/*RESERVATION*/
.limpiar{
  clear:both;
  margin-bottom:2%;
}

#people{
  margin-top: -3%;
}
